RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /joinsdi/index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^/system
RewriteRule ^(.*)$ /joinsdi/index.php?/$1 [L]

RewriteCond %{REQUEST_URI} ^/application
RewriteRule ^(.*)$ /joinsdi/index.php?/$1 [L]
