@font-face{font-family:'FZZhengHeiS-M-GB';src:url('../font/FZZhengHeiS-M-GB.woff') format('woff')}::selection{color:#fff;background:#f8269d}
::-webkit-scrollbar-track-piece{background-color:#eee}
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-thumb{background:#999}
html{height:400%}
body{height:100%}
section{width:100%;height:25%}
#page1{background-color:#f8269d}#page1 #stripes{position:absolute;top:0;right:0;width:60%}#page1 #stripes path{stroke-dasharray:500;-webkit-animation:dash 5s linear 0;animation:dash 5s linear 0;fill:none}
@-webkit-keyframes dash{0%{stroke-dashoffset:500;fill-opacity:0} 60%{fill-opacity:0} 80%{stroke-dashoffset:0} 100%{fill-opacity:1}}@keyframes dash{0%{stroke-dashoffset:500;fill-opacity:0} 60%{fill-opacity:0} 80%{stroke-dashoffset:0} 100%{fill-opacity:1}}
#page2{background-color:#555}
#page3{background-color:#444}
#page4{background-color:#333}
