@font-face {
	font-family:'FZZhengHeiS-M-GB';
	src: url('../font/FZZhengHeiS-M-GB.woff') format('woff'),
}
@green: #21EEAC;
@red: #F8269D;
@blue: #46d8d6;
 ::selection {
	color: #FFF;
	background: @blue;
}
::-webkit-scrollbar {
	width: 0;
}
html, body {
	height: 100%;
	font-family:'FZZhengHeiS-M-GB';
	overflow-x: hidden;
	background-color: #EEE;
}
#nav {
	position: fixed;
	background-color: #3F3E40;
	width: 100%;
	height: 5%;
	z-index: 10;
}
#index {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../img/background.jpg) no-repeat fixed;
	background-size: cover;
	z-index: 0;
	#sloagns {
		position: absolute;
		top: -30%;
		width: 100%;
		margin-left: 6%;
		img {
			width: 10vw;
			height: 10vw;
			margin-right: 2%;
			vertical-align: top;
			transition: all 0.1s;
		}
	}
	#stripes_done {
		position: absolute;
		display: none;
		right: 8%;
		width: 35%;
		z-index: -10;
		vertical-align: middle;
	}
	#stripes {
		position: absolute;
		top: 0;
		right: 8%;
		width: 35%;
		path {
			stroke-dasharray: 450;
		}
		#layer1 {
			-webkit-animation: layer1 4s ease-in-out 0s;
			animation: layer1 4s ease-in-out 0s;
		}
		#layer2 {
			-webkit-animation: layer2 3s ease-in-out 0s;
			animation: layer2 3s ease-in-out 0s;
		}
		@-webkit-keyframes layer1 {
			0% {
				stroke-dashoffset: 500;
			}
			100% {
				stroke-dashoffset: 0;
			}
		}
		@keyframes layer1 {
			0% {
				stroke-dashoffset: 500;
			}
			30% {
				stroke-dashoffset: 500;
			}
			100% {
				stroke-dashoffset: 0;
			}
		}
		@-webkit-keyframes layer2 {
			0% {
				stroke-dashoffset: 100;
				opacity: 0;
			}
			20% {
				stroke-dashoffset: 100;
				opacity: 0;
			}
			100% {
				stroke-dashoffset: 0;
				opacity: 1;
			}
		}
		@keyframes layer2 {
			0% {
				stroke-dashoffset: 100;
				opacity: 0;
			}
			20% {
				stroke-dashoffset: 100;
				opacity: 0;
			}
			100% {
				stroke-dashoffset: 0;
				opacity: 1;
			}
		}
	}
	#welcome {
		margin-top: 32%;
		margin-left: 6%;
		color: #222;
		font-size: 2rem;
		letter-spacing: 0.1rem;
		p {
			margin: 0.5rem;
		}
	}
	#updown {
		margin-top: 0%;
		margin-left: 6%;
		a {
			display: inline-block;
			margin: 1rem 0.8rem 0 0;
			cursor: pointer;
			transition: all 0.8s;
			&:hover {
				border-radius: 0.3rem;
			}
			p {
				display: inline-block;
				margin: 0.5rem;
				padding-left: 0.6rem;
				font-size: 1.5rem;
				text-decoration: none;
			}
		}
		#download {
			p {
				color: #222;
				border-left: 1.8rem solid #222;
			}
			&:hover {
				box-shadow: 0 0 4rem @green;
			}
		};
		#upload {
			p {
				color: @blue;
				border-left: 1.8rem solid @blue;
			}
			&:hover {
				box-shadow: 0 0 4rem @blue;
			}
		};
	}
	.point {
		position: absolute;
		top: 65%;
		left: 85%;
		background-color: #333;
		cursor: pointer;
		.entry {
			display: none;
			font-size: 1.4vw;
			color: #FFF;
			margin-top: 1.4vw;
			text-align: center;
		}
	}
	#myalert {
		position: absolute;
		top: 32%;
		margin-left: 35%;
		padding: 6vw 2vw 2vw;
		width: 30%;
		height: 24%;
		background-color: #333;
		opacity: 0.9;
		border-radius: 1vw;
		color: #FFF;
		display: none;
		font-size: 2vw;
		text-align: center;
		line-height: 3vw;
		letter-spacing: 0.2vw;
		z-index: 25;
		cursor: pointer;
	}
}
#detail {
	width: 100%;
	height: 100%;
	background-color: #888;
	section {
		width: 100%;
		min-height: 25%;
	}
	hr {
		margin: auto;
		width: 84%;
	}
	#flag {
		position: fixed;
		top: 44%;
		right: 2%;
		ul {
			list-style: none;
			li {
				background-color: #EEE;
				margin: 1.5vw 0;
				width: 0.7vw;
				height: 0.7vw;
				border-radius: 0.35vw;
				box-shadow: 0 0 1vw #000;
				cursor: pointer;
			}
		}
		.current {
			background-color: #333;
		}
	}
	#back{
		position: fixed;
		width: 5%;
		height: 100%;
		transition: all 0.5s;
		cursor: pointer;
		i{
			color: #FFF;
			display: block;
			margin-top: 47vh;
			margin-left: 1vw;
			vertical-align: bottom;
			opacity: 0.75;
			font-size: 3rem;
		}
		&:hover{
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
	#section1 {
		background: url(../img/detail1.jpg) no-repeat fixed center;
		background-size: 100% 100%;
		#timeline_text {
			margin: 0 0 0 8%;
			padding-top: 12%;
			color: #FFF;
			font-size: 2.5vw;
			letter-spacing: 0.05vw;
		}
		#timeline {
			margin: 8% auto 0;
			width: 90%;
			opacity: 0;
			text-align: center;
			.timepoint {
				display: inline-block;
				width: 8vw;
				height: 8vw;
				background-color: #FFF;
				border-radius: 4vw;
				cursor: pointer;
				vertical-align: middle;
				transition: box-shadow 0.8s;
				p {
					font-size: 1.4vw;
					color: #111;
					margin-top: 1.5vw;
					line-height: 1.8vw;
					text-align: center;
					white-space: 0.2vw;
				}
				&:hover {
					box-shadow: 0 0 6vw rgba(255, 255, 255, 0.5);
				}
			}
			.line {
				margin: 0 -1vw;
				display: inline-block;
				vertical-align: middle;
				width: 6vw;
				height: 0.15vw;
				background-color: #FFF;
			}
		}
	}
	#section2 {
		background: url(../img/detail2.jpg) no-repeat fixed center;
		background-size: cover;
		hr {
			margin-bottom: 2.5%;
		}
		#video_text {
			margin: 0 0 0 8%;
			padding-top: 5%;
			color: #FFF;
			font-size: 2.5vw;
			letter-spacing: 0.05vw;
		}
		#jwvideo {
			margin: 0 auto;
			width: 100%;
			height: 100%;
			box-shadow: 0 0 4vw rgba(255, 255, 255, 0.4);
		}
	}
	#section3 {
		background: url(../img/detail3.jpg) no-repeat fixed top;
		background-size: 100% 100%;
		height: 25%;
		#intro_text {
			margin: 0 0 0 8%;
			padding-top: 5%;
			color: #FFF;
			font-size: 2.5vw;
			letter-spacing: 0.05vw;
		}
		#sdi {
			display: inline-block;
			margin: 8vw 0 0 10vw;
			height: 24vw;
			width: 24vw;
			opacity: 0;
			vertical-align: middle;
		}
		#about{
			display: inline-block;
			margin: 2% 0 0 7%;
			color: #FFF;
			width: 50%;
			vertical-align: middle;
			.summary{
				margin: 0;
				font-size: 4vh;
			}
			.content{
				font-size: 3vh;
			}
		}
	}
	#section4 {
		background: url(../img/detail4.jpg) no-repeat fixed center;
		background-size: cover;
		#comment_text {
			margin: 0 0 0 8%;
			padding-top: 5%;
			color: #FFF;
			font-size: 2.5vw;
			letter-spacing: 0.05vw;
		}
		.ds-thread {
			margin: 5% auto 0;
			width: 82%;
			padding: 1rem;
			opacity: 0;
			background-color: #EEE;
		}
	}
}
