doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
		meta(name='renderer' content='webkit')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		meta(name='mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-capable' content='yes')
		title 上传报名表 - 设计创新班2014级招生
		link(rel='stylesheet' href='static/bower_components/semantic-ui/dist/semantic.min.css')
		link(rel='stylesheet' href='static/bower_components/jquery-ui/jquery-ui.min.css')
		link(rel='stylesheet' href='static/bower_components/animate.css/animate.min.css')
		link(rel='stylesheet' href='static/css/upload.css')
		link(rel='icon' type='image/png' sizes='256x256' href='static/img/logo.png')

	body
		#brand
			img#logo(src='static/img/box_open.png')
			p#slogan /点/燃/一/根/火/柴/

		#container
			#step1.step
				h2.ui.header
					i.icon.num 1
					.content 个人基本信息
				.ui.divider
				form.ui.form.segment#form1
					.fields.four
						.field
							label 姓名
							input(type='text' name='name' placeholder='姓名')
						.field
							label 学号
							input(type='text' name='num' placeholder='学号')
						.field
							label 出生日期
							input.datepicker(type='text' name='birthday' placeholder='出生日期')
						.field
							label 性别
							select.ui.dropdown(name='gender')
								option(value='') 性别
								option(value='男') 男
								option(value='女') 女
					.fields.four
						.field
							label 大类
							input(type='text' name='category' placeholder='大类' required)
						.field
							label 专业
							input(type='text' name='major' placeholder='专业')
						.field
							label 均绩
							input(type='text' name='gpa' placeholder='均绩')
						.field
							label 排名
							input(type='text' name='rank' placeholder='排名')
					.fields.two
						.field
							label 手机
							input(type='text' name='phone' placeholder='手机')
						.field
							label 电子邮箱
							input(type='email' name='email' placeholder='电子邮箱')
					.fields.two
						.field
							label 寝室
							input(type='text' name='dormitory' placeholder='寝室')
						.field
					.field
							label 备注
							input(type='text' name='remark' placeholder='有特殊情况可在此说明')
					.field
						label 常去的社区及其用户名(例如微博， Lofter， Dribbble)。此栏非必填，但有助于我们更好地了解你。
						input(type='text' name='social' placeholder='网站/用户名  网站/用户名')

			#step2.step
				h2.ui.header
					i.icon.num 2
					.content 上传文件
				.ui.divider
				form#form2.ui.form.segment
					.ui.grid.stackable
						.row.two.column
							#avatar.column.field.file
								h3 个人照片
								img.ui.image.small.rounded.preview(src='static/img/avatar.png')
								input.select(type='file' name='avatar')
								p JPG / PNG / GIF格式， 小于10MB
							#apply.column.field.file
								h3 报名表
								img.ui.image.small.rounded.preview(src='static/img/apply.png')
								input.select(type='file' name='apply')
								p PDF / ZIP / RAR / 7Z格式， 小于100MB
			#step3.step
				.line
				h2.ui.header
					i.icon.num 3
					.content 选择WorkShop时间
				.ui.divider
				form.ui.form.segment#form3
					h4 请选择你有空参加WorkShop的时间段 (请尽可能地多选)
					.field
						.ui.checkbox
							input(type='checkbox' name='workshop[]' value='5月23日18:00~20:00')
							label 5月23日18:00~20:00
					.field
						.ui.checkbox
							input(type='checkbox' name='workshop[]' value='5月23日20:30~22:30')
							label 5月23日20:30~22:30
					.field
						.ui.checkbox
							input(type='checkbox' name='workshop[]' value='5月24日18:00~20:00')
							label 5月24日18:00~20:00

			.ui.button.fluid.huge.red#submit 提交报名表

		.ui.modal.small#error
			i.close.icon
			.header
			.content
			.actions
				.ui.button.positive.right.labeled.icon
					| 明白
					i.checkmark.icon

		.ui.modal#progress
			.header
			.content
				.ui.progress.green(data-percent='0')
					.bar
						.progress
					.label
			.actions

	script(src='static/bower_components/jquery/dist/jquery.min.js')
	script(src='static/bower_components/jquery-ui/jquery-ui.min.js')
	script(src='static/bower_components/semantic-ui/dist/semantic.min.js')
	script(src='static/js/upload.js')
