@charset "utf-8";

#brand {
	img#logo {
		display: block;
		margin: 10% auto 0;
	}
	p#slogan {
		text-align: center;
		margin-top: 5%;
		font-size: 1.5rem;
		letter-spacing: 1.5rem;
	}
}

#action {
	margin: 2rem auto 0;
	text-align: center;
}

#uyan_frame {
	margin: 5% auto 0;
	@media (max-width: 767px) {
		width: 90%;
	}
	@media (min-width: 768px) and (max-width: 991px) {
		width: 80%;
	}
	@media (min-width: 992px) {
		width: 60%;
	}
}

canvas#flame {
	position: fixed;
	top: 0;
	z-index: -10;
}
