@charset "utf-8";

@red: #D95C5C;
@green: #00b5ad;
@black: #222;
@grey: rgba(0, 0, 0, 0.5);

.animation (@parameter) {
	-webkit-animation: @parameter;
	-ms-animation: @parameter;
	animation: @parameter;
}

#sidebar{
	position: fixed;
	top: 0;
	width: 10%;
	height: 100%;
	padding-top: 2%;
	background-color: @black;
	.menu {
		a.item.active {
			border-left: 2px solid @green;
		}
	}
}

#main{
	padding-top: 2%;
	margin-left: 12%;
	width: 86%;
	p#title {
		font-size: 2rem;
	}
	canvas {
		width: 100%;
		height: 50%;
	}
	#uvtext {
		color: #46D8D6;
		padding-left: 0.5rem;
		border-left: 0.5rem solid #46D8D6;
	}
	#dltext {
		color: #C08DB8;
		padding-left: 0.5rem;
		border-left: 0.5rem solid #C08DB8;
	}
	#uptext {
		color: #D82D5A;
		padding-left: 0.5rem;
		border-left: 0.5rem solid #D82D5A;
	}
	#controlWrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}
	#control {
		display: table;
		margin: 0 auto;
		padding: 0.5rem;
		background-color: white;
		box-shadow: 0 0 0.5rem @grey;
		border-bottom-right-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
		label.middle {
			margin-left: 1rem;
			line-height: 2.5rem;
		}
	}
	table.info {
		width: 100%;
		tr {
			line-height: 2rem;
		}
	}
	#grid {
		height: 80vh;
	}
}
