@charset "utf-8";

@red: #D95C5C;
@green: #00b5ad;
@black: #222;

.animation (@parameter) {
	-webkit-animation: @parameter;
	-ms-animation: @parameter;
	animation: @parameter;
}

#sidebar{
	position: fixed;
	top: 0;
	width: 10%;
	height: 100%;
	padding-top: 2%;
	background-color: @black;
	.menu {
		a.item.active {
			border-left: 2px solid @green;
		}
	}
}

#main{
	padding-top: 2%;
	margin-left: 12%;
	width: 86%;
	p#title {
		font-size: 2rem;
	}
	#grid {
		height: 80vh;
	}
}

.view-frame.ng-enter {
	.animation(0.5s fadeIn);
}

.view-frame.ng-leave {
	.animation(0.5s fadeOut);
}
